<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>KEBULI - BILQIS</title>

    <meta name="description"
        content="DAPUR BILQIS adalah tempat terbaik untuk menikmati nasi kebuli, nasi bok, ayam bakar, rendang, telur balado, nasi kuning, nasi uduk, makanan lezat, hidangan spesial, makanan khas Indonesia, makanan tradisional, makanan Jakarta, makanan enak, katering, layanan makanan, hidangan berbuka puasa, hidangan lebaran, dan banyak lagi. Temukan kami di Jakarta Timur.">

    <meta name="keywords"
        content="kebuli, nasi kebuli, nasi bok, ayam bakar, rendang, telur balado, nasi kuning, nasi uduk, makanan lezat, hidangan spesial, makanan khas Indonesia, makanan tradisional, makanan Jakarta, makanan enak, katering, layanan makanan, hidangan berbuka puasa, hidangan lebaran, dapur bilqis, Jakarta Timur. Cathering. Hidangan Makanan. Pesan Sekarang. Bilqis. Dapur Bilqis. dapur bilqis. Kebuli. Makanan enak. Terenak">

    <meta name="author" content="DAPUR BILQIS">


    <meta property="og:title" content="KEBULI - BILQIS">

    <meta property="og:description"
        content="DAPUR BILQIS adalah tempat terbaik untuk menikmati nasi kebuli, nasi bok, ayam bakar, rendang, telur balado, nasi kuning, nasi uduk, makanan lezat, hidangan spesial, makanan khas Indonesia, makanan tradisional, makanan Jakarta, makanan enak, katering, layanan makanan, hidangan berbuka puasa, hidangan lebaran, dan banyak lagi. Temukan kami di Jakarta Timur. Jakarta Timur. Kebuli Jakarta. Cathering. Hidangan Makanan. Pesan Sekarang">

    <meta property="og:image"
        content="/image/kebuli_ayam_bakar.webp, /image/kebuli rendang.webp, kebuli telur balado.webp, image/paket kebuli ayam goreng.webp, image/kebuli ayam goreng.webp, image/gidiran.webp, image/bento nasi kuning.webp, image/hemat ayam bakar.webp, image/nasi bakar.webp, image/nasi bok.webp, image/paket nasi liwet.webp, image/tumpeng.webp, image/tumpeng mini.webp, image/paket nasi uduk.webp">

    <meta property="og:url" content="#">

    <meta name="robots" content="index, follow">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        aria-disabled="false" defer>
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" aria-disabled="false" defer>
    <link rel="stylesheet" href="/css/style.css" defer>

</head>

<body>

    <!-- header section starts  -->

    <header class="header">

        <a href="#" class="logo"> <i class="fas fa-utensils"></i> DAPUR BILQIS </a>

        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#products">products</a>
            <a href="#categories">categories</a>
        </nav>

        <div class="icons">
            <div class="fas fa-bars" id="menu-btn" aria-label="Menu"></div>
            <div class="fas fa-shopping-cart" id="cart-btn" aria-label="Cart"></div>
        </div>


        <div class="shopping-cart">

            <div class="total"></div>
            <a class="btn" aria-label>checkout</a>
        </div>

    </header>
    <section class="home" id="home">

        <div class="content">
            <h3><span>DAPUR BILQIS</span><br> KEBULI & NASI BOK</h3>
            <p>SELAMAT DATANG DI DAPUR BILQIS</p><br>
            <a href="#products" class="btn" aria-label="Shop Now">belanja sekarang</a>
        </div>

    </section>
    <section class="products" id="products">
        <h1 class="heading"> <span>Produk</span> Kami </h1>
        <div class="swiper product-slider">

            <!-- nasi kebuli -->
            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <img src="image/kebuli ayam bakar.webp" words="kebuli ayam bakar" alt="kebuli ayam bakar"
                        loading="lazy">
                    <h3>Kebuli<br> Ayam Bakar</h3>
                    <div class="price"> Rp.27,000 </div>
                    <div class="description">Ayam Bakar potong 4,<br> Acar, Emping</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <br><a class="btn" aria-label="Add Kebuli Ayam Bakar to cart">add to cart</a>
                </div>

                <div class="swiper-slide box">
                    <img src="image/kebuli rendang.webp" words="kebuli rendang" alt="kebuli rendang" loading="lazy">
                    <h3>Kebuli<br> Rendang</h3>
                    <div class="price"> Rp.30,000 </div>
                    <div class="description">Nasi Kebuli, Rendang,<br> Telur, Kentang </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <br><a class="btn" aria-label="Add Kebuli Rendang to cart">add to cart</a>
                </div>

                <div class="swiper-slide box">
                    <img src="image/kebuli telur balado.webp" words="kebuli telur balado" alt="kebui telur balado"
                        loading="lazy">
                    <h3>Kebuli<br> Telur Balado</h3>
                    <div class="price"> Rp.17,000 </div>
                    <div class="description">Nasi Kebuli, Telur Balado,<br> Acar, Emping </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <br><a class="btn" aria-label="Add Kebuli Telur Balado to cart">add to cart</a>
                </div>

                <div class="swiper-slide box">
                    <img src="image/paket kebuli ayam goreng.webp" words="paket kebuli ayam goreng"
                        alt="paket kebuli ayam goreng" loading="lazy">
                    <h3>Paket Kebuli Ayam Goreng</h3>
                    <div class="price"> Rp.35,000 </div>
                    <div class="description">Nasi Kebuli, Ayam goreng potong 4, Telor Balado, Acar, Puding, Jeruk,
                        Emping
                    </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <br><a class="btn" aria-label="Add Paket Kebuli Ayam Goreng to cart">add to cart</a>
                </div>

                <div class="swiper-slide box">
                    <img src="image/kebuli ayam goreng.webp" words="kebuli ayam goreng" alt="kebuli ayam goreng"
                        loading="lazy">
                    <h3>Kebuli<br> Ayam Goreng</h3>
                    <div class="price"> Rp.30,000 </div>
                    <div class="description">Nasi Kebuli, Ayam goreng potong 4, Telor Balado, Acar, Emping
                    </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <br><a class="btn" aria-label="Add Kebuli Ayam Goreng to cart">add to cart</a>
                </div>

                <div class="swiper-slide box">
                    <img src="image/gidiran.webp" words="gidiran" alt="gidiran" loading="lazy">
                    <h3>Gidiran</h3>
                    <div class="price" id="change"> Rp.1,400.000 </div>
                    <div class="description">Harga per 20 liter<br>Nasi Kebuli,<br> Acar, Emping<br>(Harga 20 Liter)
                    </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <br><a class="btn" aria-label="Add Gidiran to cart">add to cart</a>
                </div>

            </div>

        </div>

        <!-- Nasi -->
        <div class="swiper product-slider">

            <div class="swiper-wrapper">


                <div class="swiper-slide box">
                    <img src="image/bento nasi kuning.webp" words="bento nasi kuning" alt="bento nasi kuning"
                        loading="lazy">
                    <h3>Bento Nasi Kuning</h3>
                    <div class="price"> Rp.20,000</div>
                    <div class="description">Nasi Kuning, Ayam Goreng,<br> Bihun, Orek, Puding</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <br><a class="btn" aria-label="Add Bento Nasi Kuning to cart">add to cart</a>
                </div>

                <div class="swiper-slide box">
                    <img src="image/hemat ayam bakar.webp" words="hemat ayam bakar" alt="hemat ayam bakar"
                        loading="lazy">
                    <h3>Hemat Ayam Bakar</h3>
                    <div class="price"> Rp.18,000</div>
                    <div class="description">Ayam Goreng, Tahu,<br> Sambel, Lalapan</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <br><a class="btn" aria-label="Add Hemat Ayam Bakar to cart">add to cart</a>
                </div>

                <div class="swiper-slide box">
                    <img src="image/nasi bakar.webp" words="nasi bakar" alt="nasi bakar" loading="lazy">
                    <h3>Paket Nasi Bakar</h3>
                    <div class="price"> Rp.10,000</div>
                    <div class="description">Nasi Bakar<br> Ayam Suir</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <br><a class="btn" aria-label="Add Paket Nasi Bakar to cart">add to cart</a>
                </div>

                <div class="swiper-slide box">
                    <img src="image/nasi bok.webp" words="nasi bok" alt="nasi bok" loading="lazy">
                    <h3>Nasi Bok</h3>
                    <div class="price"> Rp.25,000</div>
                    <div class="description">Nasi Putih, Rendang,<br> Sambel, Kentang, Capcay</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <br><a class="btn" aria-label="Add Nasi Bok to cart">add to cart</a>
                </div>

                <div class="swiper-slide box">
                    <img src="image/paket nasi liwet.webp" words="paket nasi liwet" alt="paket nasi liwet"
                        loading="lazy">
                    <h3>Paket Nasi Liwet</h3>
                    <div class="price"> Rp.24,000</div>
                    <div class="description">Nasi Ikan Teri, Telor Balado,<br> Orek, Cumi Cabe Ijo
                    </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <br><a class="btn" aria-label="Add Paket Nasi Liwet to cart">add to cart</a>
                </div>

                <div class="swiper-slide box">
                    <img src="image/tumpeng.webp" words="tumpeng" alt="tumpeng" loading="lazy">
                    <h3>Tumpeng Besar</h3>
                    <div class="price"> Rp.500,000</div>
                    <div class="description">Ayam Goreng, Orek, Urap, Perkedel, Mie Goreng, Telor (10 Orang)</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <br><a class="btn" aria-label="Add Tumpeng Besar to cart">add to cart</a>
                </div>

                <div class="swiper-slide box">
                    <img src="image/tumpeng mini.webp" words="tumpeng mini" alt="tumpeng mini" loading="lazy">
                    <h3>Tumpeng Mini</h3>
                    <div class="price"> Rp.35,000</div>
                    <div class="description">Nasi Kuning, Ayam, Sambel, Kentang, Telur Dadar, Mie</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <br><a class="btn" aria-label="Add Tumpeng Mini to cart">add to cart</a>
                </div>

                <div class="swiper-slide box">
                    <img src="image/paket nasi uduk.webp" words="paket nasi uduk" alt="paket nasi uduk" loading="lazy">
                    <h3>Paket Nasi Uduk</h3>
                    <div class="price"> Rp.22,000</div>
                    <div class="description">Nasi Uduk, Tempe Orek,<br> Bihun, Ayam Goreng, Sambel</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <br><a class="btn" aria-label="Add Paket Nasi Uduk to cart">add to cart</a>
                </div>


            </div>

        </div>


    </section>

    <!-- products section ends -->

    <!-- categories section starts  -->

    <section class="categories" id="categories">

        <h1 class="heading"> <span>Kategori</span> Produk </h1>

        <div class="box-container">

            <div class="box">
                <img src="image/cat-1.webp" alt="cat-1" loading="lazy">
                <h3>Foods</h3>
                <p>Nasi Kebuli, Paket Nasi Uduk, Nasi bok, Paket Nasi Kuning, Tumpeng Mini, Tumpeng Besar,Nasi Bakar</p>
                <a href="#products" class="btn" aria-label="Shop Foods">shop now</a>
            </div>

        </div>

    </section>

    <!-- categories section ends -->

    <!-- footer section starts  -->

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3> DAPUR BILQIS<i class=""></i> </h3>
                <p>Jakarta Timur</p>
                <div class="share">
                    <a href="https://www.instagram.com/kitc.hen229/" class="fab fa-instagram"
                        aria-label="Instagram"></a>
                </div>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#" class="links"> <i class="fas fa-phone"></i> +62 857-1412-7454</a>
                <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Jakarta Timur</a>
            </div>

            <div class="box">
                <form action="" class="kotak-saran" onsubmit="openWhatsApp()">
                    <h3>Kotak Saran</h3>
                    <p>Silahkan masukan saran anda</p>
                    <label for="email" class="sr-only">Email Anda</label>
                    <input type="email" id="email" placeholder="Email Anda" class="email">
                    <label for="saran" class="sr-only">Saran Anda</label>
                    <input type="text" id="saran" placeholder="Saran Anda" class="saran">
                    <button type="submit" class="btn">Kirim</button>
                </form>
            </div>

        </div>

        <div class="credit"> created by <span> DAPUR BILQIS </span> | all rights reserved </div>

    </section>

    <!-- footer section ends -->

    <script defer type="text/javascript" src="/js/swiper-bundle.min.js" ></script>

    <!-- custom js file link  -->
    <script defer type="text/javascript" src="/js/script.js"></script>

</body>

</html>